/* Header */

/* Fonts
for headers
font-family: 'IBM Plex Serif', serif;
for body
font-family: 'Noto Sans Buhid', sans-serif;
 */

 .ft-ibm{
   font-family: 'IBM Plex Serif', serif;
}

.ft-noto{
  font-family: 'Noto Sans Buhid', sans-serif;
}

/* Nav */

.navbar{
  background-color:
}

.tpx-logo{
  border-radius: 20%;
  height: 40px;
  width: 40px;
}
.tpx-logo-txt{
  font-size: 22px;
  font-weight: bold;
}
