/* Header */

/* Fonts
font-family: 'IBM Plex Serif', serif;
font-family: 'Noto Sans Buhid', sans-serif;
 */

body{
  font-family: 'Noto Sans Buhid', sans-serif;
}

header{
  color: #fff;
  display: flex;
  background-color: #0B65C6;
  justify-content: space-between;
  padding: 12px 8px;
}

.logo-div{
  display: flex;
  flex-direction: row;
}

.logo{
  margin-right: 6px;
  width: 2rem;
}

#site-title{
  font-family: 'IBM Plex Serif', serif;
  font-weight: bold;
  font-size: 1rem;
  letter-spacing: 2.5px;
  color: #fff;
  margin: 0;
}

.hd-mail{
  font-family: 'Noto Sans Buhid', sans-serif;
  font-size: 10px;
  margin-bottom: 0;
}

.head-div-2{
  color: #fff;
}

/* Welcome section */

#welcome{
  background-image: image();
}
